@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?moi24y');
  src:  url('fonts/icomoon.eot?moi24y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?moi24y') format('truetype'),
    url('fonts/icomoon.woff?moi24y') format('woff'),
    url('fonts/icomoon.svg?moi24y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-01 .path1:before {
  content: "\e900";
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path21:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(247, 248, 248);
}
.icon-icon-01 .path22:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-01 .path23:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-icon-02:before {
  content: "\e917";
  color: #999;
}
.icon-icon-03:before {
  content: "\e918";
  color: #999;
}
.icon-icon-04:before {
  content: "\e919";
  color: #999;
}
.icon-icon-05:before {
  content: "\e91a";
  color: #999;
}
.icon-icon-06:before {
  content: "\e91b";
  color: #999;
}
.icon-icon-07:before {
  content: "\e91c";
  color: #999;
}
.icon-icon-08:before {
  content: "\e91d";
  color: #999;
}
.icon-icon-09:before {
  content: "\e91e";
  color: #999;
}
.icon-icon-10:before {
  content: "\e91f";
  color: #999;
}
.icon-icon-11:before {
  content: "\e920";
  color: #999;
}
.icon-icon-12:before {
  content: "\e921";
  color: #999;
}
.icon-icon-13:before {
  content: "\e922";
  color: #999;
}
.icon-icon-14:before {
  content: "\e923";
  color: #999;
}
.icon-icon-15:before {
  content: "\e924";
  color: #999;
}
.icon-icon-16:before {
  content: "\e925";
  color: #999;
}
.icon-icon-17:before {
  content: "\e926";
  color: #999;
}
.icon-icon-18:before {
  content: "\e927";
  color: #999;
}
.icon-icon-19:before {
  content: "\e928";
  color: #999;
}
.icon-icon-20:before {
  content: "\e929";
  color: #999;
}
.icon-icon-21:before {
  content: "\e92a";
  color: #999;
}
.icon-icon-22:before {
  content: "\e92b";
  color: #999;
}
.icon-icon-23:before {
  content: "\e92c";
  color: #999;
}
.icon-icon-24:before {
  content: "\e92d";
  color: #999;
}
.icon-icon-25:before {
  content: "\e92e";
  color: #999;
}
.icon-icon-26:before {
  content: "\e92f";
  color: #999;
}
.icon-icon-27:before {
  content: "\e930";
  color: #999;
}
.icon-icon-28:before {
  content: "\e931";
  color: #999;
}
.icon-icon-29:before {
  content: "\e932";
  color: #999;
}
.icon-icon-30:before {
  content: "\e933";
  color: #999;
}
.icon-icon-31:before {
  content: "\e934";
  color: #999;
}
.icon-icon-32:before {
  content: "\e935";
  color: #999;
}
.icon-icon-33:before {
  content: "\e936";
  color: #999;
}
.icon-icon-34:before {
  content: "\e937";
  color: #999;
}
.icon-icon-35:before {
  content: "\e938";
  color: #999;
}
.icon-icon-36:before {
  content: "\e939";
  color: #999;
}
.icon-icon-37:before {
  content: "\e93a";
  color: #797979;
}
.icon-icon-38:before {
  content: "\e93b";
  color: #999;
}
.icon-icon-39:before {
  content: "\e93c";
  color: #999;
}
.icon-icon-40:before {
  content: "\e93d";
  color: #999;
}
.icon-icon-41:before {
  content: "\e93e";
  color: #999;
}
.icon-icon-42:before {
  content: "\e93f";
  color: #999;
}
.icon-icon-43:before {
  content: "\e940";
  color: #999;
}
.icon-icon-44:before {
  content: "\e941";
  color: #999;
}
.icon-icon-45:before {
  content: "\e942";
  color: #999;
}
.icon-icon-46:before {
  content: "\e943";
  color: #999;
}
.icon-icon-47:before {
  content: "\e944";
  color: #999;
}
.icon-icon-48:before {
  content: "\e945";
  color: #999;
}
.icon-icon-49:before {
  content: "\e946";
  color: #999;
}
.icon-icon-56:before {
  content: "\e947";
  color: #999;
}
