

.chart {
 
  width: 200px;
  height: 200px;position: relative;
  display:inline-block; vertical-align:top; margin:0 40px;
}
.chart_layout {text-align:center; height:295px;}
.chart_txt {position:absolute; left:0; bottom:-15px; width:100%; text-align:center; font-size:14px; '나눔고딕', 'Nanum Gothic'; font-size:14px; }

.doughnutTip {

  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.doughnutTip::after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.7);
  line-height: 0;
}

.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 0;
  color: #d5d5d5;
  text-align: center;

  cursor: default;
  width: 100% !important;
  text-align: center;
  margin-left: 0 !important;
  margin-top: 0 !important;
}

#doughnutChart .doughnutSummaryTitle {background:url(../images/icon1.jpg) no-repeat center top;height: 16px; margin-top: -19px; margin-bottom: 7px;}
#doughnutChart2 .doughnutSummaryTitle {background:url(../images/icon2.jpg) no-repeat center top;height: 16px; margin-top: -19px; margin-bottom: 7px;}
#doughnutChart5 .doughnutSummaryTitle {background:url(../images/icon2.jpg) no-repeat center top;height: 16px; margin-top: -19px; margin-bottom: 7px;}

.doughnutSummaryNumber {
 font-size:23px; font-weight:600; color:#272727;font-size:22px; font-family:'나눔고딕', 'Nanum Gothic'; 
}

.chart path:hover {
  opacity: 0.65;
}
